.Diario-start {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 3em
}

.counter-desc {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-top: 18px;
}

.flow-chart{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    margin-top: 10px;
}