.appContainer {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 300px 1fr;
    height: 100vh;
    overflow: hidden;

    background-color: #2e3438;
}

.navBar {
    background-color: #16191b;
    color: #f0f0f0;
    grid-column: 1 / 3;
    grid-row: 1;
}

.sideBar {
    background-color: #16191b;
    color: #f0f0f0;
    grid-column: 1;
    grid-row: 2;
}

.mainView {
    margin-top: 2px;
    margin-left: 20px;
    margin-right: 4px;
    padding-right: 10px;

    overflow-y: auto;
    overflow-x: hidden;

    max-width: 100%;

    grid-column: 2;
    grid-row: 2;

    color: #e1e1e1;
}

.mainView::-webkit-scrollbar {
    width: 6px;
}

.mainView::-webkit-scrollbar-track {
    background: transparent;
}

.mainView::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.mainView::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}